body{
    background-color: #FAD961;
    background-image: radial-gradient(#eeca14, #ef1f1f);
    
  
  }
  
  .about-container {
    max-width: 900px;
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
    color: #fff;
  }
  
  .about-container p {
    line-height: 2;
    padding: 0 20px;
  }
  
  .about-container .profile-image {
    text-align: center;
    padding: 30px;
    background-color: #12192c;
    border-radius:12px 12px 0 0;
  }
  
  .about-container .profile-image img {
    width: 200px;
    border-radius: 50px;
    padding: 8px;
  }
  .description{
    position: relative;
    background-color: #12192c;
    padding: 20px 20px 60px 20px;
    border-radius:0 0 12px 12px;
    box-shadow: 0 4px 16px -6px rgba(0, 0, 0, 0.4);
    color:#ffffff
  }
 
  .projects-container .project-name {
    font-size: 16px;
  }
  
  .projects-container .project-number {
    font-size: 72px;
    font-weight: bold;
  }
  
  .our-team-heading {
    /* text-align: center; */
    position: relative;
    text-transform: uppercase;
    font-size: 48px;
    padding-top: 64px;
  }
  
  .our-team {
    display: flex;
    padding: 30px;
  }
  
  .our-team img {
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 4px 16px -6px rgba(0, 0, 0, 0.4);
  }
  
  .our-team .team-member {
    margin: 0 4px;
    position: relative;
  }
  
  .our-team .designation {
    position: absolute;
    bottom: 30px;
    background: #000000;
    padding: 12px 20px;
    border-radius: 0 20px 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    font-size: 14px;
  }
  
  .about-container .our-mission {
    padding: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
  }
  
  .about-container .our-mission .quote-icon {
    position: absolute;
    opacity: 0.2;
    height: 80px;
  }
  
  .about-container .our-mission p {
    font-size: 20px;
    font-style: italic;
    text-align: center;
  }
  
  @media (max-width: 700px) {
    .our-team {
      flex-direction: column;
      align-items: center;
    }
  
    .our-team img {
      height: 250px;
      width: 300px;
      object-fit: cover;
    }
  }
  .credit{
      text-align: center;
      color: #000;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .credit a{
      text-decoration: none;
      color:#000;
      font-weight: bold;
  }  